<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/dashboard"><span class="glyphicon glyphicon-home"></span> Trang quản trị viên</a>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#submenu-1"><span class="	fa fa-cubes"></span> Quản lý sản phẩm <i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-1" class="collapse">
                <li><a href="/dashboard/product"><i class="fa fa-angle-double-right"></i> Xem danh sách SP</a></li>
                <li><a href="/dashboard/product/add"><i class="fa fa-angle-double-right"></i> Thêm sản phẩm mới</a></li>
            </ul>
        </li>

        <li>
            <a href="/dashboard/category"><span class="	fa fa-tags"></span>  Xem danh sách loại SP</a>
        </li>
        <li>
            <a href="/dashboard/brand"><span class="glyphicon glyphicon-tag"></span>  Xem danh sách nhãn hiệu SP</a>
        </li>
        <li>
            <a href="/dashboard/product/generate"><span class="glyphicon glyphicon-duplicate"></span> Phát sinh sản phẩm</a>
        </li>
        <li>
            <a href="/dashboard/user"><i class="fa fa-users"></i> Quản lý thành viên</a>
        </li>
        <li>
            <a href="/dashboard/order"><i class="fa fa-pencil-square-o"></i> Quản lý đơn đặt hàng</a>
        </li>
        <li>
            <a href="/dashboard/statistic"><i class="fa fa-bar-chart-o"></i> Thống kê</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->