
<!--//footer-->
<div class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="col-md-3 footer-middle-in">
                <p>Panda Team</p>
            </div>

            <div class="col-md-3 footer-middle-in">
                <h6>Thông tin</h6>
                <ul class=" in">
                    <li><a href="#">Trần Đăng Khoa</a></li>
                    <li><a href="#">Tiêu Trí Kiệt</a></li>
                    <li><a href="#">Lê Hoàng Lâm</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 footer-middle-in">
                <h6>Tags</h6>
                <ul class="tag-in">
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">eShop</a></li>
                    <li><a href="#">Toy</a></li>
                    <li><a href="#">Robot</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-middle-in">
                <h6>Nhận thông tin mới</h6>
                <form method="post" action="/subscribe">
                    <input type="text" value="Enter your E-mail" name="email">
                    <input type="submit" value="Đăng kí">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <ul class="footer-bottom-top">
                <li><a href="#"><img src="images/f1.png" class="img-responsive" alt=""></a></li>
                <li><a href="#"><img src="images/f2.png" class="img-responsive" alt=""></a></li>
                <li><a href="#"><img src="images/f3.png" class="img-responsive" alt=""></a></li>
            </ul>
            <p class="footer-class">&copy; 2016 Shopin. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//footer-->
<div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up">▲</i>
  </span>
</div>
    <div id="snackbar">Đã thêm sản phẩm vào giỏ hàng.</div>