<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  <!--Phan Header , cai dat tai /views/partials/header.hbs-->
  {{> header}}
  <div class="container">
      <!--Phan Body , cai dat tai /views/index.hbs-->
        {{{body}}}
  </div>
  <!--Phan Footer , cai dat tai /views/partials/footer.hbs-->
  {{> footer}}

  </body>

  <!--JAVASCRIPT-->
  <script src="/javascripts/eshopScript.js">
  </script>
</html>
