<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Thành công !!!</strong>. Dữ liệu đã được phát sinh. Đang chuyển về trang chủ . .. ...
    <meta http-equiv="refresh" content="2;/">
</div>