<!--banner-->
<div class="banner-top">
    <div class="container">
        <h1>Quên mật khẩu</h1>
    </div>
</div>
<!--login-->
<div class="container">
    <div class="login">
        {{#if message}}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
            </div>
        {{/if}}
        <form method="post">
            <div class="col-md-6 login-do">
                <div class="login-mail">
                    <input type="text" placeholder="Tên đăng nhập" required="" name="username">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="login-mail">
                    <input type="email" placeholder="Địa chỉ Email" required="" name="email">
                    <i class="glyphicon glyphicon-envelope"></i>
                </div>
                <div class="login-mail">
                    <input type="password" placeholder="Mật khẩu mới" required="" name="password">
                    <i class="glyphicon glyphicon-lock"></i>
                </div>
                <label class="hvr-skew-backward">
                    <input type="submit" value="Yêu cầu mật khẩu mới">
                </label>
            </div>
            <div class="col-md-6 login-right">
                <h3>Đăng nhập</h3>

                <p>Nếu đã có tài khoản.
                </p>
                <a href="/login" class=" hvr-skew-backward">Đăng nhập</a>

            </div>

            <div class="clearfix"> </div>
        </form>
    </div>
    <br><br>
</div>

<!--//login-->