
.container{
  width: 1250px;
}

.jumbotron {
  margin-bottom: 20px;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}
.products {
  border: 1px solid #e1e1e1;
  min-height: 400px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 15px;
}
.thumbnail {
  float: left;
  position: relative;
  width: 100%;
  margin: 45px 0 5px 0;
  padding: 0;
  height: 220px;
  border: none;
  text-align: center;
}
.productname {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #2f2f2f;
  margin-bottom: 10px;
  color: #333333;
}
.products .button_group {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.products .price {
  float: left;
  width: 100%;
  color: #ff1e2c;
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 24px;
}
.products .button_group {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
.products .button_buy {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  background: #fff;
  color: #000000;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}
.products .button_buy:hover{
  color: #fff;
  background: #F7D358;
  border: 1px solid #e1e1e1;
}

/*Đang Test*/
.products-details {

  position: relative;
  width: 100%;

}
.preview_image {
  float: left;
  position: relative;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
}

.preview-small {
  display: block;
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.products-description {
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  padding: 20px;
  float: left;
  overflow: hidden;
}



.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}

/*PRODUCT.HBS CSS*/
img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.preview-img {
  height: auto;
  width: auto;
  max-width: 510px;
  max-height: 270px;
}
.thumbnail-img{
  height: auto;
  width: auto;
  max-width: 91px;
  max-height: 93px;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; }
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; }

.tab-content {
  overflow: hidden; }
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
.size:first-of-type {
  margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
.color:first-of-type {
  margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
  background: #b36800;
  color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff; }

.black {
  background: #000000; }

.white {
  background: #ffffff; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.pagination{
  float: none;
  margin: 0 auto;
}

/*Header*/
.panel-body{
    font-size: medium;
}