<div class="form-horizontal">
    <fieldset>
        <!-- Form Name -->

        <center> <legend>Thêm sản phẩm mới</legend></center>
        {{#if message}}
        <div class="alert {{message.[0]}}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message.[1]}}
        </div>
        {{/if}}
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name_textinput">Tên sản phẩm</label>
            <div class="col-md-4">
                <input id="name_textinput" name="ten" type="text" placeholder="" class="form-control input-md" required="" oninvalid="this.setCustomValidity('Chưa nhập tên sản phẩm')"  oninput="setCustomValidity('')">

            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Loại</label>
            <div class="col-md-4">
                <select id="selectbasic" name="loai" class="form-control">
                    {{# each loai}}
                            {{#if this.ten}}
                    <option value="{{this.ten}}">{{this.ten}}</option>
                            {{/if}}
                        {{/each}}
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="brand_textinput">Nhãn hiệu</label>
            <div class="col-md-4">
                <input id="brand_textinput" name="nhanhieu" type="text" placeholder="" class="form-control input-md"  required="" oninvalid="this.setCustomValidity('Chưa nhập tên nhãn hiệu')" oninput="setCustomValidity('')">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="made_textinput">Xuất xứ</label>
            <div class="col-md-4">
                <input id="made_textinput" name="xuatxu" type="text" placeholder="" class="form-control input-md" required="" oninvalid="this.setCustomValidity('Chưa nhập xuất xứ')" oninput="setCustomValidity('')">

            </div>
        </div>

        <!-- Number input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="price_textinput">Giá</label>
            <div class="col-md-4">
                <input id="price_textinput" name="gia" min='0' type="number" placeholder="" class="form-control input-md"  required="" oninvalid="this.setCustomValidity('Chưa nhập giá')" oninput="setCustomValidity('')">

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="desc_textarea">Mô tả</label>
            <div class="col-md-4">
                <textarea class="form-control" id="desc_textarea" placeholder="Có thể để trống" name="mota"></textarea>
            </div>
        </div>

        <!-- Image input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="link1_textinput">Hình Ảnh 1</label>
            <div class="col-md-4">
                <input id="link1_textinput" name="hinhanh" type="text" placeholder="Link hình ảnh" class="form-control input-md"  required="" oninvalid="this.setCustomValidity('Chưa nhập link hình ảnh')" oninput="setCustomValidity('')">
            </div>
        </div>

        <!-- Image input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="link2_textinput">Hình Ảnh 2</label>
        <div class="col-md-4">
            <input id="link2_textinput" name="hinhanh" type="text" placeholder="Link hình ảnh (Có thể để trống)" class="form-control input-md">
        </div>
        </div>

        <!-- Image input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="link3_textinput">Hình Ảnh 3</label>
            <div class="col-md-4">
                <input id="link3_textinput" name="hinhanh" type="text" placeholder="Link hình ảnh (Có thể để trống)" class="form-control input-md">
            </div>
        </div>
        <center>
<!--        ---------upload ảnh----------->
        <button class="btn btn-default btn-lg" data-toggle="collapse" data-target="#demo">Upload ảnh</button>

        <div id="demo" class="collapse">
            <h3>Upload ảnh và copy link ảnh tại tab "link ảnh"</h3>
            <iframe allowtransparency="true" frameborder="0" height="320px" id="shopitems" marginheight="0" marginwidth="0" scrolling="no" src="https://upanh.designervn.net/" title="Upanhmienphi" width="751px" sandbox="allow-forms allow-scripts allow-same-origin"></iframe>
        </div>
        </center>
        <center><img id="loadingimg" src="/images/loading1.gif" alt="loading..."></center>
        <center>
            <!--<button id="smbutton" type="submit" class="btn3d btn btn-success btn-lg" value="Thêm sản phẩm">-->
            <div id="smbutton" class="btn3d btn btn-success btn-lg">Submit</div>
        </center>
                               
    </fieldset>
</div>
